.productBox{
    margin: 10px;
    width: 500px;
    padding: 23px;
    padding-top: 0;
    
}

.productListBox{
   width: 75%; 
   margin-left: 20px;
   margin-right: 20px;
   display: grid;
   grid-template-columns: 32% 32% 32%;
   column-gap: 25px;
}