.productBox{
    padding-top: 80px;
    
}

.body{
    display: flex;
    justify-content: center;
    background-image: url("../../Assets/bkg.jpg");
    background-repeat: repeat;
    
}

.productListBox{

   justify-content: center;
   width: 75%; 
   display: grid;
   grid-template-columns: 250px 250px 250px 250px;
   column-gap: 80px;
   margin-top: 80px;
   padding-bottom: 80px;
   margin-bottom: 100px;
   background-color: rgba(197, 197, 197, 0.432);
}

.linksItems{
    text-decoration: none;
}