.itemBox{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid rgb(138, 132, 132);
}

.item-card{
    display: flex;
    flex-direction: column;
    
}

.img-box{
    display: flex;
    

}

.item-info{
    display: flex;
    flex-direction: column;
    padding-left: 7px;
    padding-right: 7px;
    background-color: rgba(166, 241, 163, 0.493);
}

.item-img{
    width: 100%;
    height: 230px;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.plant-name{
    margin-top: 10px;
    font-size: 23px;
    font-weight: 800;
    
}

.plant-kind{
    font-weight: 600;
    color: rgba(45, 175, 110, 0.733);
}

.plant-price{
    color:rgb(102, 94, 94);
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 10px;
}

.stock{
    font-size: 12px;
}