*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text{
    margin-top: 200px;
    font-size: 50px;
    color: white;
}

.catalogoCont{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/roots-stor.appspot.com/o/bkg.jpg?alt=media&token=f22a38eb-f745-4663-a4ee-0517b22b6abc");
    background-repeat: repeat;  
    padding-top: 40px; 
}
