.filterBar{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 15px;
    width: 13%;
    height: 800px;
    background-color: white;
}

.filterTittle{
    background-color: rgb(26, 141, 28);
    border-radius: 15px;
    color: white;
}

