.filterBar{
    margin: 10px;
    border-radius: 15px;
    width: 15%;
    height: 800px;
    background-color: white;
}

.filterTittle{
    background-color: rgb(26, 141, 28);
    border-radius: 15px;
    color: white;
}

