.App-header {
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .head{
    display: flex;
    align-items: center;
    padding-top: 15px;
  }

  .tittle{
      font-family: 'Thasadith', sans-serif;
      font-size: 75px;
      padding-top: 5px;
      color: white;
      text-decoration: none;
  }

  .links{
    text-decoration: none;
    margin-bottom: 10px;
    
  }

  .logoCont{
    margin-left: 20px;    
  }
.tittleContainer{
  display: flex;
  margin: 0px 50px;
}

.btn-neon{
  background-color: #282c34a9;
  padding: 15px 30px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: 0.5s;
  border:none;
}
.btn-neon:hover{
  box-shadow: 0 0 10px rgba(166, 241, 163, 0.493), 0 0 40px rgba(166, 241, 163, 0.493), 0 0 80px rgba(166, 241, 163, 0.493);
  transition-delay: .1s;
}

