.App-header {
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .head{
    display: flex;
    align-items: center;
    padding-top: 15px;
  }

  .tittle{
      font-family: 'Thasadith', sans-serif;
      font-size: 75px;
      padding-top: 5px;
  }

  .logoCont{
    margin-left: 20px;    
  }
.tittleContainer{
  display: flex;
  margin: 0px 50px;
}
