*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.copyR{
    font-size: 30px;
}

.nBarLi, .nBarIt{
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
    
}

.nBar{  
    background: radial-gradient(circle, rgb(26, 141, 28), rgba(50, 247, 53, 0.295));
    display: flex;
    justify-content: center;
}

.nBarLi{
    justify-self: center;
    display: flex;
    justify-content: center; 
    width: 85%;
    
}

.nBarLink{
    font-size: 21px;
    padding: 10px;
    font-weight: 600;
    margin-right: 20px;
    margin-left: 20px;
}

.nBarIt:hover{
    text-decoration: underline white;
    background: rgba(236, 255, 237, 0.295);
    cursor: pointer;

}

.icon{
    margin-right: 7px;
}


