.botonera{
    display: flex;
    justify-content: center;
}

.but{
   background-color: rgba(166, 241, 163, 0.493);
   font-size: 20px;
   border: none;
   padding: 2px 6px ;
}

.chart-button{
    background-color:  rgb(26, 141, 28);
    
    font-size: 14px;
    padding: 4px 8px;
    margin-top:2px;
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
    box-shadow: 2px 3px rgb(16, 77, 17); 
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: 'Thasadith', sans-serif;
    margin-bottom: 20px;
}

.but:hover{
    color:  rgb(0, 0, 0); 
    background-color: rgb(26, 112, 28); 
}

.chart-button:hover{
    background-color: rgb(26, 112, 28); 
}

.contador{
    font-size: 20px;
    padding-top: 3px;
    margin-left: 20px;
    margin-right:20px;
    font-weight: 700;
    font-family: sans-serif;
}

.stock{
    margin-top: 5px;
}