.subMenuBox{
    position: absolute;
    top:55px;
}
.activate{
    position: absolute;
    top:55px;
}

.desactivate{
    display: none;
}
.subMenuList{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.subMenuItem{
    font-size: 21px;
    padding: 10px 25px;
    font-weight: 600;
    background-color: rgba(41, 122, 42, 0.788);
    display: flex;
    justify-content: center;
    margin-right: 5px;
    margin-left: 5px;
}

.subMenuItem:hover{
    text-decoration: underline white;
    background: rgba(24, 146, 30, 0.514);
    cursor: pointer;
}

.subMenuLink{
    text-decoration: none;
    color: white;
}