.bodyCart{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/roots-stor.appspot.com/o/bkg.jpg?alt=media&token=f22a38eb-f745-4663-a4ee-0517b22b6abc");
    background-repeat: repeat;
    height: 100vh;
    padding: 20px 350px;
}

.mainly{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/roots-stor.appspot.com/o/45.jpg?alt=media&token=d7070b2c-a2e0-496a-8726-1e67cc651a7e");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 80px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CartDetailContainer{
    background-color: rgba(255, 255, 255, 0.753) ;
    display: flex;
    flex-direction: row;
    width: 900px;
    border: 2px solid green;   
    justify-content: space-between;
    margin-bottom: 20px;
}

.pict{
    width: 65px;
    height: 65px;
    border: 1px solid black;
    border-radius: 100%;
    margin: 4px 20px;
     
}

.name, .cantTot, .Tot{
    font-size: 24px;
    margin: 0;
    display: flex;
    align-self: center;
}

.name{
    flex-direction: column;
}

.TotSpan{
    margin-left: 5px;

}

.idd{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.endMenuBut{
    background-color:  rgb(26, 141, 28);
    font-size: 19px;
    padding: 8px 10px;
    margin-top:2px;
    margin-right: 100px;
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-family: 'Thasadith', sans-serif;
 }
 
 .endMenuBut:hover{
    background-color: rgb(26, 112, 28); 
}

.trash:hover{
    background-color: rgb(26, 112, 28);
}

.botonera{
    display: flex;
    
}

.trash {
    margin: 0;
    background-color:  rgb(26, 141, 28);
    font-size: 20px;
    padding: 8px;
    margin: 0 5px;
    height: 60%;
    align-self: center;
    color: white;
}

.trashIc{
    padding: 0;
}

.trashLink{
    align-self: center;
    color: white;
}
.bottomBox{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.cartTotal{
    width: 230px;
    font-size: 26px;
    font-weight: 700;
    background-color:  white;
    border-radius: 100px;  
    align-self: flex-end;
    border: 2px solid darkgreen;
}

.aclaracion{
 font-size: 9px;   
 align-self: flex-end;
 margin-bottom: 100px;
 margin-right: 45px;
 color: white;
}
.emptyCart{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/roots-stor.appspot.com/o/45.jpg?alt=media&token=d7070b2c-a2e0-496a-8726-1e67cc651a7e");
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid green;
    width: 100%;
    height: 35vh;
}

.emptyCartText2{
margin-top:20px;
}

.emptyCartText{
    color: white;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.log{
    height: 12vmin;
    pointer-events: none;
    border-radius: 100%;
    box-shadow: 0 0 20px #4f9;
}