.mainly{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.CartDetailContainer{
    display: flex;
    flex-direction: row;
    width: 1100px;
    border: 2px solid green;   
    justify-content: space-around;
    margin-bottom: 20px;
}

.pict{
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 100%;
    margin: 4px 1px;
     
}

.name, .cantTot, .Tot{
    font-size: 28px;
    grid-column: 3/4;
    grid: 1/2;
    margin: 0;
    grid-row: 1/2;
    display: flex;
    align-self: center;
}

.TotSpan{
    margin-left: 5px;
    border-style:groove;
    border: 2px dotted green
}
