.productBox{
    padding-top: 80px;
    
}

.body{
    display: flex;
    justify-content: center;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/roots-stor.appspot.com/o/bkg.jpg?alt=media&token=f22a38eb-f745-4663-a4ee-0517b22b6abc");
    background-repeat: repeat;
    
}

.productListBox{

   justify-content: center;
   width: 75%; 
   display: grid;
   grid-template-columns: 250px 250px 250px 250px;
   column-gap: 80px;
   margin-top: 80px;
   padding-bottom: 80px;
   margin-bottom: 100px;
   background-color: rgba(197, 197, 197, 0.432);
}

.linksItems{
    text-decoration: none;
}