.productBox{
    padding-top: 80px;
    
}

.body{
    display: flex;
    justify-content: center;
 
    
}

.productListBox{

   justify-content: center;
   width: 75%; 
   display: grid;
   grid-template-columns: 250px 250px 250px 250px;
   column-gap: 80px;
   margin-top: 80px;
   padding-bottom: 80px;
   margin-bottom: 100px;
   background-color: rgba(197, 197, 197, 0.432);
}

.linksItems{
    text-decoration: none;
}

.catalogo{
    padding-top: 165px;
    -webkit-text-stroke:2px rgba(0, 0, 0, 0.486);
    color: rgb(255, 255, 255);
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 60px;
    width: 75%;
    height: 300px;
    margin: auto;
    background-size: cover;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/roots-stor.appspot.com/o/aa.jpg?alt=media&token=4de3101c-a98b-44f2-8e10-2c5b1505b771");
}
